<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="points">
      <h2 data-cy="pointsDetailsHeading"><span jhiTranslate="twentyonepointsv3App.points.detail.title">Points</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ points.id }}</span>
        </dd>
        <dt><span jhiTranslate="twentyonepointsv3App.points.date">Date</span></dt>
        <dd>
          <span>{{ points.date | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="twentyonepointsv3App.points.exercise">Exercise</span></dt>
        <dd>
          <span>{{ points.exercise }}</span>
        </dd>
        <dt><span jhiTranslate="twentyonepointsv3App.points.meals">Meals</span></dt>
        <dd>
          <span>{{ points.meals }}</span>
        </dd>
        <dt><span jhiTranslate="twentyonepointsv3App.points.alcohol">Alcohol</span></dt>
        <dd>
          <span>{{ points.alcohol }}</span>
        </dd>
        <dt><span jhiTranslate="twentyonepointsv3App.points.notes">Notes</span></dt>
        <dd>
          <span>{{ points.notes }}</span>
        </dd>
        <dt><span jhiTranslate="twentyonepointsv3App.points.user">User</span></dt>
        <dd>
          <span>{{ points.user?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/points', points.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
