<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-points-heading" data-cy="PointsCreateUpdateHeading" jhiTranslate="twentyonepointsv3App.points.home.createOrEditLabel">
        Créer ou éditer un Points
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="twentyonepointsv3App.points.date" for="field_date">Date</label>
          <div class="input-group">
            <input
              id="field_date"
              data-cy="date"
              type="text"
              class="form-control"
              name="date"
              ngbDatepicker
              #dateDp="ngbDatepicker"
              formControlName="date"
            />
            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          <div *ngIf="editForm.get('date')!.invalid && (editForm.get('date')!.dirty || editForm.get('date')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('date')?.errors?.required" jhiTranslate="entity.validation.required">
              Ce champ est obligatoire.
            </small>
          </div>
        </div>

        <div class="form-check">
          <label class="form-check-label" for="field_exercise">
            <input type="checkbox" class="form-check-input" name="exercise" id="field_exercise" [(ngModel)]="points!.exercise" />
            <span jhiTranslate="twentyOnePointsv3App.points.exercise" for="field_exercise">Exercise</span>
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label" for="field_meals">
            <input type="checkbox" class="form-check-input" name="meals" id="field_meals" [(ngModel)]="points!.meals" />
            <span jhiTranslate="twentyOnePointsv3App.points.meals">Meals</span>
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label" for="field_alcohol">
            <input type="checkbox" class="form-check-input" name="alcohol" id="field_alcohol" [(ngModel)]="points!.alcohol" />
            <span jhiTranslate="twentyOnePointsv3App.points.alcohol" for="field_alcohol">Alcohol</span>
          </label>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="twentyonepointsv3App.points.notes" for="field_notes">Notes</label>
          <input type="text" class="form-control" name="notes" id="field_notes" data-cy="notes" formControlName="notes" />
          <div *ngIf="editForm.get('notes')!.invalid && (editForm.get('notes')!.dirty || editForm.get('notes')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('notes')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 140 }"
            >
              Ce champ doit faire moins de 140 caractères.
            </small>
          </div>
        </div>

        <div class="form-group" *jhiHasAnyAuthority="'ROLE_ADMIN'">
          <label class="form-control-label" jhiTranslate="twentyOnePointsv3App.points.user" for="field_user">User</label>
          <select class="form-control" id="field_user" name="user" [(ngModel)]="points!.user">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="userOption.id === points!.user?.id ? points!.user : userOption"
              *ngFor="let userOption of usersSharedCollection"
            >
              {{ userOption.login }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
